#chat-screen {
    background-color: #ABC0D0;
    height: 500vh;
}
#chat-screen .status-bar {
    z-index: 2;
}
#chat-screen .status-bar, .chat-header {
    top: 0;
    background-color: #ABC0D0;
    z-index: 2;
}
.chat-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.chat-header__column {
    width: 33.3333%;
    padding: 10px 25px;
}
.chat-header__column:nth-child(2) {
    text-align: center;
}
.chat-header__column:first-child {
    text-align: start;
}
.chat-header__column:last-child {
    text-align: end;
}
.chat-header__title {
    font-size: 28px;
    font-weight: 600;
}
.chat-header__column span:first-child {
    padding: 20px;
}
@keyframes fadeIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.main-chat {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s linear;
}
.chat__timestamp {
    color: white;
    background-color: rgba(84, 84, 89, 0.3);
    padding: 12px 15px;
    border-radius: 25px;
    opacity: 0.7;
    margin-bottom: 25px;
}
.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}
.message__author {
    margin-bottom: 5px;
    display: block;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__author, .message__time {
    opacity: 0.8;
    font-size: 14px;
}
.message-row--own {
    justify-content: flex-end;
}
.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}
.message-row--own .message__info {
    flex-direction: row-reverse;
}
.reply {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.reply i {
    opacity: 0.6;
}
.reply .reply__column:first-child {
    width: 10%;
} 
.reply .reply__column:last-child {
    width: 90%;
    position: relative;
} 
.reply input {
    padding: 12px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.reply__column:last-child > i, .reply__column:last-child button {
    position: absolute;
    right: -21px;
    top: 6px;
}
.reply__column:last-child > i {
    right: 18px;
    top: 20px;
}
.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reply__column button i {
    opacity: 1;
}
.reply__column button:focus, .reply__column button:active {
    outline: none;
}
.reply input:focus {
    width: 93vw;
    transform: translateX(-12%) translateY(-80px);
}
.reply:focus-within {
    transform: translateY(80px);
}
.reply .reply__columns:first-child, .reply .fa-face-smile, .reply button {
    transition: opacity 0.2s ease-in-out;
}
.reply:focus-within .reply__column:first-child, .reply:focus-within .fa-face-smile, .reply:focus-within button {
   opacity: 0;
}