.alt-header {
    padding-top: 40px;
    margin: 0 25px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alt-header__title, .alt-header__column {
    font-size: 28px;
    font-weight: 600;
}
.alt-header__column:first-child {
    margin-right: auto;
}
.alt-header__column:last-child {
    margin-left: auto;
}
.alt-header__column span:first-child, .alt-header__column span:last-child {
    font-size: 19px;
}